<?xml version="1.0"?>

<model>
  <name>pad_car</name>
  <version>1.0</version>
  <sdf version='1.6'>wind_motor.sdf</sdf>

  <author>
    <name>Lingpeng_Chen</name>
    <email>120090049@link.cuhk.edu.cn</email>
  </author>

  <description>
    The car with pad for landing task.
  </description>
</model>
