<?xml version="1.0"?>

<model>
  <name>invisible_plate</name>
  <version>1.0</version>
  <sdf version='1.6'>invisible_plate.sdf</sdf>

  <author>
    <name>Yuhua Qi</name>
    <email>fatmoonqyp@126.com</email>
  </author>

  <description>
    The landing pad for landing task.
  </description>
</model>
